# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Env / secrets
.env
.env.*
*.sqlite3
*.db

# Virtualenv
venv/
.venv/

# OS / editor
.DS_Store
Thumbs.db

# Logs
*.log

# Alembic
alembic/versions/__pycache__/
